<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="header" class="navbar navbar-expand-lg justify-content-center" style="background-color: #e39f9f;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/img/logo.png" alt="Food Rium Logo" height="80" width="150">
                <p class='logo_name' style="padding-left: 7px; display: inline; font-family:'Nanum Pen Script', cursive; font-size: 40px; " >푸 드 리 움</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/stores">음식점 관리 (사장님)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</html>