<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>푸드리움</title>
    <th:block th:include="common/include-link"></th:block>
</head>
<body class="sb-nav-fixed">
<nav th:replace="common/header"></nav>
<div class="container">
    <h1 class="m-5">
        주문 내역
    </h1>
    <b><p style="text-align: right; color: blue" th:if="${order.isArrived}"> * 배달 현황 : 배달 완료 </p></b>
    <b><p style="text-align: right; color: black" th:unless="${order.isArrived}"> * 배달 현황 : 배달 중 </p></b>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">주문 메뉴</th>
            <th scope="col">수량</th>
            <th scope="col">금액</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderMenu : ${order.orderMenus}">
            <th scope="row"><img th:src="${orderMenu.menu.imageUrl}"></th>
            <td th:text="${orderMenu.menu.name}">[[${orderMenu.menu.name}]]</td>
            <td th:text="${orderMenu.quantity}">[[${orderMenu.quantity]]</td>
            <td th:text="${orderMenu.totalPrice}">[[${orderMenu.totalPrice}]]</td>
        </tr>
        </tbody>
    </table>
    <b><p style="text-align: right; color: red">총 주문 금액 : [[${order.totalPrice}]] 원</p></b>
</div>
<th:block th:include="common/include-script"></th:block>
</body>
</html>