<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>푸드리움</title>
  <th:block th:include="common/include-link"></th:block>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const token = getToken(); // auth.js 내에 정의된 getToken 함수 사용

      if (token) {
        fetch('/', {
          method: 'GET',
          credentials: 'include',
          headers: {
            'Authorization': token
          }
        })
                .then(response => {
                  if (!response.ok) {
                    throw new Error('Network response was not ok');
                  }
                  return response.json();
                })
                .then(data => {
                  console.log(data);
                  // 데이터 처리 로직
                })
                .catch(error => {
                  console.error('Fetch error:', error);
                });
      } else {
        console.error('No token found');
      }
    });
  </script>
</head>
<body class="sb-nav-fixed">
  <nav th:replace="common/header"></nav>

  <div class="container">
    <h1 class="m-5">
      음식점 정보
    </h1>
    <div class="d-flex">

      <div class="card m-5">
        <div th:if="${storeInfo == null}">
          음식점 정보가 없습니다.<br>
          음식점 정보를 등록 해주세요.
        </div>

        <div class="card-body mb-3" th:if="${storeInfo != null}">
          <img th:src="${storeInfo.imageUrl}" class="card-img-top" alt="...">
          <p class="card-text">상호명 : <span th:text="${storeInfo.name}"></span></p>
          <p class="card-text">주소 : <span th:text="${storeInfo.address}"></span></p>
          <p class="card-text">운영 시간 : <span th:text="${storeInfo.workTime}"></span></p>
          <p class="card-text">보유 포인트 : <span th:text="${storeInfo.totalSales}"></span></p>

        </div>
        <button type="button" th:onclick="|location.href='@{/stores/register}'|" class="btn btn-primary mb-3">정보 등록</button>
        <button type="button" th:onclick="|location.href='@{/stores/update}'|" class="btn btn-success mb-3">정보 수정</button>
        <button type="button" class="btn btn-danger">정보 삭제</button>
      </div>

      <!--  관리 버튼  -->
      <div class="d-grid gap-2 col-3 h-50 mt-5">
        <button type="button" th:onclick="|location.href='@{/stores/menus}'|" class="btn btn-warning btn-lg">음식점 메뉴 관리</button>
        <button type="button" th:onclick="|location.href='@{/stores/orders}'|" class="btn btn-info btn-lg">음식점 주문 현황 관리</button>
      </div>

    </div>

  </div>
  <th:block th:include="common/include-script"></th:block>
</body>
</html>